.container{
  .left-container{
    width: 30%;
    height: 100vh;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .right-container{
    width: 70%;
    height: 100vh;
    float: right;
    top: 0px;
    right: 0px;
    padding-left: 10px;
    border-left-style: dotted;
    border-left-color: #D3D3D3;
  }
}


.card {
  padding-left: 0px;
  margin: 10px;
  width: 60vw;
  display: flex;
  height: 8vh;
  // background-color: #FAFAFA;
  padding-right: 0px;
  margin-left: 20px;
}

.starred-avatar{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  padding-left: 4px;
  padding-top: 4px;

}

.starred-gradient {
  background: #cc2366;
  background: linear-gradient(90deg, #7492E7 0%,#7492E7 25%,#D39298 50%,#D39298 75%,#D39298 100%);
  width: 77px;
  height: 77px;
  border-radius: 100px;
  justify: center;
}

.left-side {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: 1px solid #717C96;
  border-bottom: 1px solid #717C96;
  background-color: #FAFAFA;
}

.starred-info {
  justify-content: space-between;
  display: flex;
  width: 45vw;
  margin-right: 0px;
  padding-left: 10px;
  background-color: #FAFAFA;
  border: 1px solid #717C96;
  border-left: 0px;
  .right{
    display: flex;
  }

  .engagement {
    padding-left: 20px;
    padding-right: 0px;
    text-align: center;
  }

  .followers {
    padding-left: 20px;
    text-align: center;
  }
}


.remove{
  background-color: white;
  color: #9D9D9D;
  border: none;
  width: 50px;
}

.suggested-info {
  width: 15vw;
}

.suggested-avatar{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  padding-left: 4px;
  padding-top: 4px;

}

.suggested-gradient {
  background: #cc2366;
  background: linear-gradient(90deg, #7492E7 0%,#7492E7 25%,#D39298 50%,#D39298 75%,#D39298 100%);
  width: 77px;
  height: 77px;
  border-radius: 100px;
  justify: center;
}

.suggested-left-side {
  padding-left: 3vw;
}

.add{
  background-color: white;
  color: #9D9D9D;
  border: none;
  width: 50px;
}

p {
  margin: 5px;
  color: #9D9D9D;
}

h3 {
  margin: 5px;
  margin-top: 10px;
}

h1 {
  margin-left: 20px;
  margin-bottom: 40px;
}
