.container{
  .left-container{
    width: 30%;
    height: 100vh;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .right-container{
    width: 70%;
    height: 100vh;
    float: right;
    top: 0px;
    right: 0px;
    padding-left: 10px;
    border-left-style: dotted;
    border-left-color: #D3D3D3;
  }
}


.card {
  border: 1px solid #717C96;
  padding-left: 0px;
  margin: 10px;
  width: 60vw;
  display: flex;
  height: 8vh;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #FAFAFA;
  padding-right: 0px;
  margin-left: 20px;
}

.avatar{
  width: 70px;
  height: 70px;
  border-radius: 100%;
  padding-left: 5px;
  padding-top: 5px;
}

.gradient {
  background: #cc2366;
  background: linear-gradient(90deg, #7492E7 0%,#7492E7 25%,#D39298 50%,#D39298 75%,#D39298 100%);
  width: 80px;
  height: 80px;
  border-radius: 100px;
  justify: center;
}

.info {
  justify-content: space-between;
  display: flex;
  width: 55vw;
  margin-right: 0px;
  padding-left: 10px;
}

.right{
  display: flex;
}

.engagement {
  padding-left: 20px;
  padding-right: 0px;
  text-align: center;
}

.followers {
  padding-left: 20px;
  text-align: center;
}


p {
  margin: 5px;
  color: #9D9D9D;
}

h3 {
  margin: 5px;
  margin-top: 10px;
}

h1 {
  margin-left: 20px;
  margin-bottom: 40px;
}
